//COLORS

.light-mode {
  --grey-1: #131212;
  --grey-2: #363535cc;
  --grey-3: #e4e4e4;
  --secondary-super-lighter: #e4e4e4;
  --background-primary: #ffffff;
  --background-primary-darker: #ecf1f3;
  --background-secondary: $secondary;
  --background-secondary-darker: #b9b9b9;
  --text-negative: rgb(39, 39, 39);
  --secondary: #000000;
}

.dark-mode {
  --grey-1: #d4d4eb;
  --grey-2: #767676;
  --grey-3: #b5b5b5;
  --secondary-super-lighter: #e4e4e4;
  --background-primary: #141414;
  --background-primary-darker: #000000;
  --background-secondary: $secondary;
  --background-secondary-darker: #000000;
  --text-negative: white;
  --secondary: #f0f6fc;
}

$primary: rgb(0, 81, 255);
$primary-light: lighten($primary, 20%);
$primary-lighter: lighten($primary, 30%);
$secondary: var(--secondary);
$blue: rgba(0, 37, 254, 0.9);
$blue-bg-light: rgba(0, 37, 254, 0.06);
$blue-bg: rgba(0, 37, 254, 0.2);

$red: rgba(255, 0, 0, 0.9);
$red-bg-light: rgba(255, 0, 0, 0.06);
$red-bg: rgba(255, 0, 0, 0.2);

$orange: rgba(255, 138, 0, 0.9);
$orange-bg-light: rgba(255, 138, 0, 0.06);
$orange-bg: rgba(255, 138, 0, 0.2);

$twitter: rgba(29, 161, 242, 0.9);
$twitter-bg-light: rgba(29, 161, 242, 0.06);
$twitter-bg: rgba(29, 161, 242, 0.2);

$github: rgba(120, 120, 121, 0.9);
$github-bg-light: rgba(22, 27, 34, 0.06);
$github-bg: rgba(120, 120, 121, 0.2);

$gitlab: rgba(250, 112, 53, 0.9);
$gitlab-bg-light: rgba(250, 112, 53, 0.06);
$gitlab-bg: rgba(250, 112, 53, 0.2);

$linkedin: rgba(0, 119, 181, 0.9);
$linkedin-bg-light: rgba(0, 119, 181, 0.06);
$linkedin-bg: rgba(0, 119, 181, 0.2);

$grey-1: var(--grey-1);
$grey-2: var(--grey-2);
$grey-3: var(--grey-3);
$secondary-super-lighter: var(--secondary-super-lighter);
$background-primary: var(--background-primary);
$background-primary-darker: var(--background-primary-darker);
$background-secondary: $secondary;
$background-secondary-darker: var(--background-secondary-darker);
$success: #57bc27;
$warning: #f9b13d;
$text-negative: var(--text-negative);

//name //color //text or false
$colors: 'primary' $primary $text-negative,
  'primary-light' $primary-light $text-negative,
  'primary-lighter' $primary-lighter false,
  'secondary' $secondary $text-negative,
  'secondary-light' $grey-1 $text-negative, 'grey-2' $grey-2 false,
  'background-primary' $background-primary false,
  'background-secondary' $background-secondary false, 'white' white false,
  'black' black $text-negative, 'success' $success $text-negative,
  'warning' $warning $text-negative;

$gutter: 2.4rem;
$header-height: 7rem;
$header-height-breakpoint: 5rem;
$nav-responsive-width: 26rem;

$border-radius: 3px;
$shadow: 0 2px 4px rgba(black, 0.08);

// backdrop-filter: saturate(180%) blur(20px);

/*
//COLORS
$primary: rgb(255, 211, 0);
$primary-light: lighten($primary, 20%);
$primary-lighter: lighten($primary, 30%);
$secondary: #ffffff;
$blue: rgba(0, 37, 254, 0.9);
$blue-bg-light: rgba(0, 37, 254, 0.06);
$blue-bg: rgba(0, 37, 254, 0.2);

$red: rgba(255, 0, 0, 0.9);
$red-bg-light: rgba(255, 0, 0, 0.06);
$red-bg: rgba(255, 0, 0, 0.2);

$orange: rgba(255, 138, 0, 0.9);
$orange-bg-light: rgba(255, 138, 0, 0.06);
$orange-bg: rgba(255, 138, 0, 0.2);

$grey-1: #161618;
$grey-2: #767676;
$grey-3: #b5b5b5;
$secondary-super-lighter: #e4e4e4;
$background-primary: #141414;
$background-primary-darker: #000000;
$background-secondary: $secondary;
$background-secondary-darker: #000000;
$success: #57bc27;
$warning: #f9b13d;
$text-negative: white;

//name //color //text or false
$colors: "primary" $primary $text-negative,
  "primary-light" $primary-light $text-negative,
  "primary-lighter" $primary-lighter false,
  "secondary" $secondary $text-negative,
  "secondary-light" $grey-1 $text-negative, "grey-2" $grey-2 false,
  "background-primary" $background-primary false,
  "background-secondary" $background-secondary false, "white" white false,
  "black" black $text-negative, "success" $success $text-negative,
  "warning" $warning $text-negative;

$gutter: 2.4rem;
$header-height: 7rem;
$header-height-breakpoint: 5rem;
$nav-responsive-width: 26rem;

$border-radius: 3px;
$shadow: 0 2px 4px rgba(black, 0.08);

// backdrop-filter: saturate(180%) blur(20px);
*/
